



body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    max-width: 450px;
    background-color: rgb(170, 161, 211);

}

 #bg {
    margin:0;
    width:100vw;
    height: 100%;
    background: radial-gradient(ellipse at top,  #a367a7, transparent),
    radial-gradient(ellipse at bottom, rgb(10, 47, 255), transparent);
    background-size: cover;

}

#container {
    margin: 0 auto;
    max-width: 330px;
    padding-bottom: 10px;
}

#btn-div {
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border:3px solid #6F29FF;
    margin-top: 10px;
    margin-bottom: 4px;
}

button {
    background: #4D36C4;
    color: white;
    padding:11px;
    border: 2px solid #4d36c4;
    font-weight: bold;
    font-size: .7rem;
    width: 100px;
    border-radius: 10px;
    cursor:pointer;
}

#delete-btn {
    background: white;
    color: #4D36C4;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0px;
}

li {
    padding: 8px;
    background-color: rgba(240, 255, 255, 0.8);
    border:3px solid;
    border-radius: 0;
    border-image: linear-gradient(to right, #db29ff, #0228ff) 1;
    margin-top: 5px;
    min-height: 18px;
}

a {
    color: #4D36C4;
}

